.main{
  width: 50%;
  margin: 0 auto;
  background-color: azure;
}
.companies-list{
  font-size: 16px;
  padding: 24px;
}
.companies-list .company-link{
  margin-bottom: 8px;
}

.form-control{
  margin-bottom: 16px;
  font-size: 16px;
}
.form-control label{
  margin-right: 8px;
}